<div>
  <h2>PRODUCT FEATURES</h2>
  <div class="container" >
    <div class="row" style="margin-top: 100px;" >
      <div class="col-sm-3">
        <div class="above">
        <i class="fa fa-female" aria-hidden="true"></i>
          <h6>REAL TIME DOMESTIC HELP MANAGEMENT</h6>
          <p>Get instant information about presence of your domestic help with ability to hire them with reviews/ratings.</p>
      </div>
    </div>
      <div class="col-sm-3">
          <div class="above">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <h6>INSTANT
            "SECURITY ALERT"</h6>
          <p>You can notify the guards using “Security Alert” feature of the app for immediate attention.</p>
      </div></div>
      <div class="col-sm-3">
          <i class="fa fa-user" aria-hidden="true"></i>
          <h6>AUTOMATED GUEST AUTHENTICATION</h6>
          <p>Pre-authorize your guest for hassle free entry at the gate without depending on an OTP.</p>
      </div>
      <div class="col-sm-3">
          <i class="fa fa-phone-square" aria-hidden="true"></i>
          <h6>E-INTERCOM™ FOR VISITOR AUTHENTICATION</h6>
          <p>We enable visitor authentication from residents without depending on your wired intercom.</p>
      </div>
    </div>

    <div class="row" style="margin-top: 70px;">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <h6>COMPLETE ATTENDANCE
              MANAGEMENT</h6>
          <p>Get complete attendance report for your staff at a click of a button. Yes, we avoid proxy without biometrics!</p>
      </div>
      <div class="col-sm-3">
          <i class="fa fa-check-square" aria-hidden="true"></i>
          <h6>DIGITAL VALIDATION OF ALL STAFF AND RESIDENTS</h6>
          <p>We apply corporate concept of secure access by providing unique IDs to all staff and residents, with complete audit history in the hands of residents.</p>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row" style="margin-top: 50px;" >
        <div class="col-sm-4">
            <i class="fa fa-building" aria-hidden="true"></i>
            <h6>REAL TIME DOMESTIC HELP MANAGEMENT</h6>
            <p>myGate is an out-of-box multi layer security system. It can be configured at internal entry-exit gates within a complex so that visitors can only visit approved areas.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-flag-checkered" aria-hidden="true"></i>
            <h6>TURN-KEY
                APPROACH</h6>
            <p>Our team takes complete responsibility of implementation which includes
                on-boarding of all staff and
                service providers including domestic helps.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <h6>MANAGEMENT COMMITTEE/ FACILITY OFFICE DASHBOARD</h6>
            <p>Real time reporting, digital profiles, attendance, intelligent reports for proactive actions and much more.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <i class="fa fa-car" aria-hidden="true"></i>
              <h6>INFRASTRUCTURE FREE VEHICLE TRACKING</h6>
              <p>Get complete attendance report for your staff at a click of a button. Yes, we avoid proxy without biometrics!</p>
          </div>
          <div class="col-sm-4">
              <i class="fa fa-link" aria-hidden="true"></i>
              <h6>HARDWARE INTEGRATIONS</h6>
              <p>We apply corporate concept of secure access by providing unique IDs to all staff and residents, with complete audit history in the hands of residents.</p>
          </div>
          <div class="col-sm-2"></div>
      </div>
        <strong><p style="margin-top:50px;">Don't take our word for it. Call us for a Demo and see for yourself!</p></strong>
        <p>myGate: Apartment Security and Visitor Management System</p>
        <p id ="para">Security management systems in apartments and gated communities have always been based on
           primitive pen and paper system. Security guards spend most of their time in communicating visitor
           details with the residents. Even after all this there is no visibility into the movement of visitors
           inside and outside the community. There is so much information about apartment service staff at the
           main gate, yet residents are anxious every morning about their household help. myGate solves all these
            security and visitor problems with an intelligent app based solution.</p>
        <p id ="para">myGate is an Intelligent Security Management for Gated Premises which automates and
          digitizes manual tasks at the main gate(s). Apartments can deploy myGate in less than a week without any
          investment in hardware or any capital expenditure. We provide the solution in a pay-as-you-go pricing model.
           When we deploy myGate Apartment Security and Visitor Management System, we take care of the training of
           community management committee, facility staff and security guards. And all of this at a negligible cost!
           myGate is installed in all the popular and premium properties in Bengaluru including Mantri Espana, Adarsh
           Palm Retreat, Purva Riviera, Prestige Ozone etc.</p>
        <p id ="para"> myGate security management system can be deployed in a multi-tiered system where there are
          multiple security check points, viz. at the main gate and at the building gate. Our solution also helps
          you manage visitor car parking easily. Finding out the owner of a randomly parked vehicle inside the
          community is always a hassle. myGate app will connect you directly with the owner of the vehicle in such
          cases. The app is easy to use and some necessary functions of this app can be used even if the residents do
          not have a mobile or a smartphone. We have recently introduced the child safety and security feature as well. Parents can now approve or deny their children’s movement
          outside the community in their absence. The security system is designed in such a way that it is hassle free
           for both senior citizens and children.</p>
  </div>
</div>
