<div class="container">
  <h2>RegistrationForm</h2>
 <div class="row">
   <div class="col-sm-3"></div>
   <div class="col-sm-6">
    <form [formGroup]="loginForm"   >
         <div class="form-group">
           <div class="row">
             <div class="col-sm-6">
               <strong><label for="Name">Name:</label></strong>
               <input type="text" id="Name" class="form-control"
               formControlName="Name">
               <span
               *ngIf="!loginForm.get('Name').valid && loginForm.get('Name').touched"
               class="help-block"> Name is required</span>
             </div>

           </div>
         </div>
         <div class="form-group">
           <strong><label for="email">Email:</label></strong>
           <input type="text" id="email" class="form-control"
           formControlName="email">
           <span
           *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
           class="help-block">Please enter valid email</span>
         </div>
         <div class="form-group">
             <strong><label for="PhoneNumber">PhoneNumber:</label></strong>
             <input type="PhoneNumber" id="PhoneNumber" class="form-control"
             formControlName="PhoneNumber">
             <span
             *ngIf="!loginForm.get('PhoneNumber').valid && loginForm.get('PhoneNumber').touched"
             class="help-block">Please enter  PhoneNumber</span>
         </div>




         <p>Form value: {{ loginForm.value | json }}</p>
         <button class="btn btn-primary" type="submit"  [disabled]="!loginForm.valid" (click)=" onSubmit()">Submit</button>
     </form>
   </div>
   <div class="col-sm-3"></div>
 </div>
</div>
