video {
  width: 50%;
  height: auto;

}
h3{
  text-align: center;
  color:#1AC9FD;
  font-family:fantacy;
  margin-top: 50PX;
}
h3:hover{
  -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
